openapi: 3.2.0
info:
  version: 2.0.0
  title: Caplight REST Company Filings API
  description: 'This page provides documentation for the Caplight API, a paid add-on product of [Caplight Data](https://www.data.caplight.com). To request API access, please contact us at contact@caplight.com.


    # Production server

    https://us-central1-caplight-prod.cloudfunctions.net/api/public


    # Staging/sandbox server

    https://us-central1-caplight-staging.cloudfunctions.net/api/public


    # API versions

    Endpoints are versioned via path prefix: `/v1/` for company, market price, and order book; `/v2/` for company lookup, funding rounds, investors, company details, and comps.


    # Company IDs

    Companies have two ID formats: a **v1 company ID** (used in v1 endpoints) and a **v2 company ID** (used in v2 endpoints). Both v1 and v2 company responses include both in `caplightIds` for cross-referencing. Path params that accept company identifiers support either format, plus PitchBook ID and company domain where applicable.


    If you have a domain, a v1 company ID or a PitchBook ID and need the v2 company ID, call `GET /v2/companies` — it resolves up to 50 identifiers per request and covers companies added recently.


    # V2 Access & Permissions


    **Company access:** v2 company-scoped endpoints (funding rounds, investors, company details, and comps) enforce per-account access control. Your account may have (1) a whitelist of permitted companies, (2) an annual limit on distinct companies you can access, or both. Accessing the same company multiple times counts once toward the limit. The `/funding-rounds/updates` endpoint returns only rounds for companies you have access to.


    **Restricted fields:** Some accounts have field-level restrictions. When a field is restricted, it is omitted from the response and its name appears in `restricted.fields` on the funding round object. Restricted fields may include: `amounts`, `valuation`, `pps`, `participants`, `citations`. Check for a `restricted` object and handle omitted fields in your integration.


    # Widget Embed

    In addition to this API, Caplight also provides an embeddable widget for customers who would like an easy way of integrating Caplight Data into their platform. [See example](https://storage.googleapis.com/caplight-prod.appspot.com/images/embed-example-3.png). For inquiries, please contact us directly.


    # Authentication


    <SecurityDefinitions />

    '
  termsOfService: https://platform.caplight.com/terms
  contact:
    name: 'Contact: Caplight Engineering'
    email: engineering@caplight.com
  x-logo:
    url: https://storage.googleapis.com/caplight-prod.appspot.com/caplight-logos/api-logo.png
    altText: Caplight logo
servers:
- url: //us-central1-caplight-prod.cloudfunctions.net/api/public
  description: Production
- url: //us-central1-caplight-staging.cloudfunctions.net/api/public
  description: Staging/Sandbox
tags:
- name: Company Filings
  description: COI (Certificate of Incorporation) filings and related company documents
paths:
  /v1/filings/cois/all:
    get:
      tags:
      - Company Filings
      summary: All COI Filings
      description: Returns all COI filings in the Caplight database, ordered by most recently added/updated
      parameters:
      - name: pageNumber
        in: query
        description: Page number (1-based). First page is 1.
        required: false
        deprecated: false
        schema:
          type: number
        example: 1
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AllCOIsResponse'
  /v1/filings/cois/get-download-urls:
    get:
      tags:
      - Company Filings
      summary: Get COI Download URLs
      description: Generates short-lived download URLs for a COI filing. Increments the account's monthly COI download count. Re-downloading a previously downloaded COI does not consume a download slot. This endpoint is only available upon request and may include additional pricing.
      parameters:
      - name: filingId
        in: query
        description: COI filing ID
        required: true
        schema:
          type: string
      - name: allowOverage
        in: query
        description: Pass "true" to accept overage charges when the monthly limit is reached (only applies to accounts with overage enabled)
        required: false
        schema:
          type: string
          enum:
          - 'true'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/COIDownloadLinks'
        '400':
          description: Limit reached or invalid request
        '404':
          description: COI filing not found
  /v1/filings/cois/download-stats:
    get:
      tags:
      - Company Filings
      summary: COI Download Stats
      description: Returns the authenticated account's COI download usage for the current calendar month (UTC).
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/COIDownloadStats'
components:
  schemas:
    AllCOIsResponse:
      type: object
      properties:
        cois:
          type: array
          items:
            $ref: '#/components/schemas/COI'
        pagination:
          $ref: '#/components/schemas/Pagination'
    COIDownloadLinks:
      type: object
      properties:
        coiMeta:
          type: object
          properties:
            date:
              type: string
              nullable: true
        numberOfPages:
          type: number
          nullable: true
        pdfLink:
          type: string
          nullable: true
        htmlLink:
          type: string
          nullable: true
    Date:
      type: string
      description: ISO formatted date without time
      example: '2022-09-10'
    CompanyMeta:
      type: object
      properties:
        name:
          type: string
          description: Company name
          example: Stripe
        domain:
          type: string
          description: Company top-level web domain
          example: stripe.com
        caplightId:
          type: string
          description: Caplight Company ID
          example: 12d3140kjf90
        pitchbookId:
          type: string
          description: Pitchbook Company ID
          example: 54782-29
    Pagination:
      type: object
      properties:
        pageNumber:
          type: integer
          description: Page number (1-based). First page is 1.
          example: 1
        numPages:
          type: integer
          description: Total number of pages for the result set
          example: 10
        totalRecords:
          type: integer
          description: Total number of records for the result set
          example: 250
    Timestamp:
      type: string
      description: ISO formatted datetime
      example: '2023-01-26T05:56:30 +00:00'
    COI:
      type: object
      properties:
        id:
          type: string
          description: Unique COI ID
        company:
          $ref: '#/components/schemas/CompanyMeta'
        filingDate:
          $ref: '#/components/schemas/Date'
        fileMeta:
          type: object
          properties:
            pdfAvailable:
              type: boolean
              description: Whether the PDF version of the COI is available
            htmlAvailable:
              type: boolean
              description: Whether the HTML version of the COI is available
            numberOfPages:
              type: number
              description: Number of pages in the COI. May be null
        createdAt:
          $ref: '#/components/schemas/Timestamp'
        updatedAt:
          $ref: '#/components/schemas/Timestamp'
    COIDownloadStats:
      type: object
      properties:
        monthlyLimit:
          oneOf:
          - type: number
          - type: string
            enum:
            - unlimited
        netNewDownloads:
          type: number
        overageDownloads:
          type: number
        remainingDownloads:
          oneOf:
          - type: number
          - type: string
            enum:
            - unlimited
        totalDownloads:
          type: number
  securitySchemes:
    api_key:
      description: Caplight API authentication is managed through an api_key header value. Please contact us if you do not yet have an API key.
      type: apiKey
      name: api_key
      in: header
x-tagGroups:
- name: V1
  tags:
  - Company
  - Companies
  - MarketPrice
  - Live Orderbook
  - Trade History
  - Order History
  - Company Filings
  - Stock Splits
  - Fund Marks
  - News
  - company_model
  - order_model
  - market_price_model
  - trade_model
  - 409a_valuation_model
  - fund_mark_model
  - comp_model
  - stock_split_model
  - coi_model
- name: V2
  tags:
  - Funding Rounds
  - Investors
  - Company Lookup
  - Company Details
  - Comps
