openapi: 3.2.0
info:
  version: 2.0.0
  title: Caplight REST Company API
  description: 'This page provides documentation for the Caplight API, a paid add-on product of [Caplight Data](https://www.data.caplight.com). To request API access, please contact us at contact@caplight.com.


    # Production server

    https://us-central1-caplight-prod.cloudfunctions.net/api/public


    # Staging/sandbox server

    https://us-central1-caplight-staging.cloudfunctions.net/api/public


    # API versions

    Endpoints are versioned via path prefix: `/v1/` for company, market price, and order book; `/v2/` for company lookup, funding rounds, investors, company details, and comps.


    # Company IDs

    Companies have two ID formats: a **v1 company ID** (used in v1 endpoints) and a **v2 company ID** (used in v2 endpoints). Both v1 and v2 company responses include both in `caplightIds` for cross-referencing. Path params that accept company identifiers support either format, plus PitchBook ID and company domain where applicable.


    If you have a domain, a v1 company ID or a PitchBook ID and need the v2 company ID, call `GET /v2/companies` — it resolves up to 50 identifiers per request and covers companies added recently.


    # V2 Access & Permissions


    **Company access:** v2 company-scoped endpoints (funding rounds, investors, company details, and comps) enforce per-account access control. Your account may have (1) a whitelist of permitted companies, (2) an annual limit on distinct companies you can access, or both. Accessing the same company multiple times counts once toward the limit. The `/funding-rounds/updates` endpoint returns only rounds for companies you have access to.


    **Restricted fields:** Some accounts have field-level restrictions. When a field is restricted, it is omitted from the response and its name appears in `restricted.fields` on the funding round object. Restricted fields may include: `amounts`, `valuation`, `pps`, `participants`, `citations`. Check for a `restricted` object and handle omitted fields in your integration.


    # Widget Embed

    In addition to this API, Caplight also provides an embeddable widget for customers who would like an easy way of integrating Caplight Data into their platform. [See example](https://storage.googleapis.com/caplight-prod.appspot.com/images/embed-example-3.png). For inquiries, please contact us directly.


    # Authentication


    <SecurityDefinitions />

    '
  termsOfService: https://platform.caplight.com/terms
  contact:
    name: 'Contact: Caplight Engineering'
    email: engineering@caplight.com
  x-logo:
    url: https://storage.googleapis.com/caplight-prod.appspot.com/caplight-logos/api-logo.png
    altText: Caplight logo
servers:
- url: //us-central1-caplight-prod.cloudfunctions.net/api/public
  description: Production
- url: //us-central1-caplight-staging.cloudfunctions.net/api/public
  description: Staging/Sandbox
tags:
- name: Company
paths:
  /v1/companies:
    get:
      tags:
      - Company
      summary: Get company
      description: Returns matching companies by lookup field. One (and only one) lookup field must be provided.
      parameters:
      - name: domain
        in: query
        description: Company web domain (e.g. stripe.com). Multiple companies may share the same domain due to acquisitions, mergers, or other reasons. In such cases, only the company with the highest valuation is returned. For precise lookups, prefer querying by caplightId or pitchbookId.
        required: false
        deprecated: false
        schema:
          type: string
        example: stripe.com
      - name: caplightId
        in: query
        description: Company Caplight Id
        required: false
        deprecated: false
        schema:
          type: string
        example: 134591n9dfk519kl
      - name: pitchbookId
        in: query
        description: Company Pitchbook Id
        required: false
        deprecated: false
        schema:
          type: string
        example: 54782-29
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Companies'
  /v1/companies/quarterly-market-summary:
    get:
      tags:
      - Company
      summary: Get Quarterly Market Summary
      description: Returns quarterly market summary for a company by Caplight ID.
      parameters:
      - name: caplightId
        in: query
        description: Company Caplight Id
        schema:
          type: string
        example: 134591n9dfk519kl
      - name: pitchbookId
        in: query
        description: Company Pitchbook Id
        required: false
        schema:
          type: string
        example: 54782-29
      - name: domain
        in: query
        description: Company web domain (e.g. stripe.com). Multiple companies may share the same domain due to acquisitions, mergers, or other reasons. In such cases, only the company with the highest valuation is returned. For precise lookups, prefer querying by caplightId or pitchbookId.
        required: false
        schema:
          type: string
        example: stripe.com
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuarterlyMarketSummary'
  /v1/comps-performance:
    get:
      tags:
      - Company
      summary: Get Comparable Performance
      description: Returns a time series of public comparable performance data as a daily percentage change relative to the beginning of a time period for a private company
      parameters:
      - name: caplightId
        in: query
        description: Company Caplight Id
        schema:
          type: string
        example: 134591n9dfk519kl
      - name: pitchbookId
        in: query
        description: Company Pitchbook Id
        required: false
        schema:
          type: string
        example: 54782-29
      - name: startDate
        in: query
        description: Start date and base line for public comparable performance
        required: false
        schema:
          $ref: '#/components/schemas/Date'
        example: '2025-01-01'
      - name: endDate
        in: query
        description: End date for public comparable performance
        required: false
        schema:
          $ref: '#/components/schemas/Date'
        example: '2025-12-31'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComparablePerformance'
components:
  schemas:
    Companies:
      type: array
      items:
        $ref: '#/components/schemas/Company'
    Date:
      type: string
      description: ISO formatted date without time
      example: '2022-09-10'
    CompanyMeta:
      type: object
      properties:
        name:
          type: string
          description: Company name
          example: Stripe
        domain:
          type: string
          description: Company top-level web domain
          example: stripe.com
        caplightId:
          type: string
          description: Caplight Company ID
          example: 12d3140kjf90
        pitchbookId:
          type: string
          description: Pitchbook Company ID
          example: 54782-29
    Company:
      description: Caplight Company model
      type: object
      properties:
        name:
          type: string
          description: Company name
          example: Stripe
        caplightId:
          type: string
          description: Caplight Company ID
          example: 12d3140kjf90
        caplightIds:
          type: object
          description: This company's IDs across API versions, for cross-referencing v1 and v2 endpoints
          properties:
            v2Id:
              type: string
              nullable: true
              description: v2 company ID, used by the v2 endpoints. Null when the company has no v2 record.
              example: b2c3d4e5-f6a7-8901-bcde-f12345678901
            v1Id:
              type: string
              description: v1 company ID, the same value as caplightId
              example: 12d3140kjf90
        pitchbookId:
          type: string
          description: Pitchbook Company ID
          example: 54782-29
        domain:
          type: string
          description: Company website domain
          example: stripe.com
        status:
          type: string
          description: Company status (Private, Public, Acquired, or Out of business)
          example: Private
        caplightPageURL:
          type: string
          description: Caplight platform URL for the company
          example: https://platform.caplight.com/companies/38048685
        hqCountry:
          type: string
          description: Headquarters country (ISO name or code as stored)
          nullable: true
          example: United States
        countryOfDomicile:
          type: string
          description: Country of domicile (ISO code)
          nullable: true
          example: US
        industry:
          type: string
          description: Caplight primary industry label
          nullable: true
          example: FinTech
        legalName:
          type: string
          description: Legal entity name when available
          nullable: true
          example: Stripe, Inc.
        has409aValuations:
          type: boolean
          description: Whether the company has at least one 409A valuation on file
        coisAvailable:
          type: boolean
          description: Whether Caplight tracks COI (Certificate of Incorporation) filings for this company
        marketPriceEstimate:
          $ref: '#/components/schemas/MarketPrice'
          description: Current Caplight MarketPrice estimate
    MarketPrice:
      type: object
      properties:
        date:
          $ref: '#/components/schemas/Date'
        price:
          type: number
          format: double
          description: Share price USD
          example: 15.9
        estimatedValuation:
          type: number
          format: int64
          description: Estimated valuation in USD (nullable)
          example: 2150000000
        priceStandardError:
          type: number
          format: double
          description: Standard error of MarketPrice price estimate
          example: 1.35
        lastUpdated:
          $ref: '#/components/schemas/Date'
          description: Date the MarketPrice estimate was generated
    Timestamp:
      type: string
      description: ISO formatted datetime
      example: '2023-01-26T05:56:30 +00:00'
    QuarterlyMarketSummary:
      type: object
      properties:
        companyMeta:
          $ref: '#/components/schemas/CompanyMeta'
        currentMarketPricePPS:
          type: number
          format: double
          description: Current market price per share
          example: 25.5
          nullable: true
        currentMarketPriceValuation:
          type: number
          format: int64
          description: Current market price valuation
          example: 2500000000
          nullable: true
        quarterlyMarketData:
          type: array
          items:
            $ref: '#/components/schemas/QuarterlyMarketData'
    ComparablePerformance:
      type: object
      properties:
        companyMeta:
          $ref: '#/components/schemas/CompanyMeta'
        compsPerformanceOverTime:
          type: array
          items:
            $ref: '#/components/schemas/PublicComparablePerformanceOverTime'
    PublicComparablePerformanceOverTime:
      type: object
      properties:
        date:
          $ref: '#/components/schemas/Date'
        percentageChangeVsTimePeriodStart:
          type: number
          description: Percent change negative or positive since start of time period
          example: 20.5
    QuarterlyMarketData:
      type: object
      properties:
        quarter:
          $ref: '#/components/schemas/Date'
        quarterStart:
          $ref: '#/components/schemas/Timestamp'
        totalTradeVolume:
          type: number
          format: double
          description: Total volume of trades
          example: 50000
          nullable: true
        totalBidVolume:
          type: number
          format: double
          description: Total volume of bids
          example: 75000
          nullable: true
        totalOfferVolume:
          type: number
          format: double
          description: Total volume of offers
          example: 65000
          nullable: true
        fundMarkVWAPPrice:
          type: number
          format: double
          description: Fund mark VWAP price
          example: 25.5
          nullable: true
        fundMarkCount:
          type: integer
          format: int32
          description: Count of fund marks
          example: 10
          nullable: true
        marketPricePPSAtStartOfQuarter:
          type: number
          format: double
          description: Market price per share at start of quarter
          example: 20.75
          nullable: true
        marketPriceValuationAtStartOfQuarter:
          type: number
          format: int64
          description: Market price valuation at start of quarter
          example: 2000000000
          nullable: true
  securitySchemes:
    api_key:
      description: Caplight API authentication is managed through an api_key header value. Please contact us if you do not yet have an API key.
      type: apiKey
      name: api_key
      in: header
x-tagGroups:
- name: V1
  tags:
  - Company
  - Companies
  - MarketPrice
  - Live Orderbook
  - Trade History
  - Order History
  - Company Filings
  - Stock Splits
  - Fund Marks
  - News
  - company_model
  - order_model
  - market_price_model
  - trade_model
  - 409a_valuation_model
  - fund_mark_model
  - comp_model
  - stock_split_model
  - coi_model
- name: V2
  tags:
  - Funding Rounds
  - Investors
  - Company Lookup
  - Company Details
  - Comps
