openapi: 3.2.0
info:
  version: 2.0.0
  title: Caplight REST Investors API
  description: This page provides documentation for the Caplight API, a paid add-on product of Caplight Data.
  termsOfService: https://platform.caplight.com/terms
  contact:
    name: 'Contact: Caplight Engineering'
    email: engineering@caplight.com
  x-logo:
    url: https://storage.googleapis.com/caplight-prod.appspot.com/caplight-logos/api-logo.png
    altText: Caplight logo
servers:
- url: //us-central1-caplight-prod.cloudfunctions.net/api/public
  description: Production
- url: //us-central1-caplight-staging.cloudfunctions.net/api/public
  description: Staging/Sandbox
tags:
- name: Investors
  description: Investor participation data for companies
paths:
  /v2/companies/{companyId}/investors:
    get:
      tags:
      - Investors
      summary: Get company investors
      description: 'Returns a paginated list of investors who have participated in funding rounds for a company.


        **Undisclosed round investors:** Some investors are known to have invested in a company but the specific round details are not available (e.g., due to confidential filings or incomplete data). These investors have `isUndisclosedRoundInvestor: true` and their `roundsInvested` array will be empty.'
      parameters:
      - name: companyId
        in: path
        description: 'Company identifier: v2 company ID, v1 company ID, PitchBook ID (e.g. 41339-53), or company domain (e.g. clickhouse.com). A domain can match more than one company, in which case the best match is used; call `GET /v2/companies` to see every candidate. Access control and the annual distinct-company limit apply the same way however the company is identified.'
        required: true
        schema:
          type: string
      - name: pageNumber
        in: query
        description: Page number (1-based). First page is 1.
        required: false
        schema:
          type: integer
          default: 1
        example: 1
      - name: pageSize
        in: query
        description: Number of results per page (default 50, max 200)
        required: false
        schema:
          type: integer
          default: 50
          minimum: 1
          maximum: 200
        example: 50
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyInvestorsResponse'
              example:
                investors:
                - id: 11111111-aaaa-bbbb-cccc-111111111111
                  type: firm
                  name: Sequoia Capital
                  roundsInvested:
                  - roundId: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                    wasLead: true
                    leadPartners: []
                  isUndisclosedRoundInvestor: false
                - id: 22222222-aaaa-bbbb-cccc-222222222222
                  type: firm
                  name: Andreessen Horowitz
                  roundsInvested:
                  - roundId: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                    wasLead: false
                    leadPartners:
                    - id: 11111111-aaaa-bbbb-cccc-111111111111
                      type: firm
                      name: Sequoia Capital
                  isUndisclosedRoundInvestor: false
                - id: 44444444-aaaa-bbbb-cccc-444444444444
                  type: individual
                  name: Jane Smith
                  roundsInvested: []
                  isUndisclosedRoundInvestor: true
                pagination:
                  pageNumber: 1
                  numPages: 2
                  totalRecords: 4
      operationId: getV2CompaniesByCompanyIdInvestors
      x-operation-id-source: derived
components:
  schemas:
    CompanyInvestorRound:
      type: object
      properties:
        roundId:
          type: string
        wasLead:
          type: boolean
        leadPartners:
          type: array
          items:
            $ref: '#/components/schemas/PublicInvestorSummary'
    PublicInvestorSummary:
      type: object
      properties:
        id:
          type: string
          description: Investor ID
        type:
          type: string
          enum:
          - firm
          - individual
        name:
          type: string
          description: Investor display name
    CompanyInvestorsResponse:
      type: object
      properties:
        investors:
          type: array
          items:
            $ref: '#/components/schemas/CompanyInvestor'
        pagination:
          $ref: '#/components/schemas/Pagination'
    Pagination:
      type: object
      properties:
        pageNumber:
          type: integer
          description: Page number (1-based). First page is 1.
          example: 1
        numPages:
          type: integer
          description: Total number of pages for the result set
          example: 10
        totalRecords:
          type: integer
          description: Total number of records for the result set
          example: 250
    CompanyInvestor:
      allOf:
      - $ref: '#/components/schemas/PublicInvestorSummary'
      - type: object
        properties:
          roundsInvested:
            type: array
            items:
              $ref: '#/components/schemas/CompanyInvestorRound'
          isUndisclosedRoundInvestor:
            type: boolean
            description: True if investor is known to have invested in this company but the specific round details are unavailable. These investors have an empty roundsInvested array.
  securitySchemes:
    api_key:
      description: Caplight API authentication is managed through an api_key header value. Please contact us if you do not yet have an API key.
      type: apiKey
      name: api_key
      in: header
x-tagGroups:
- name: V1
  tags:
  - Company
  - Companies
  - MarketPrice
  - Live Orderbook
  - Trade History
  - Order History
  - Company Filings
  - Stock Splits
  - Fund Marks
  - News
  - company_model
  - order_model
  - market_price_model
  - trade_model
  - 409a_valuation_model
  - fund_mark_model
  - comp_model
  - stock_split_model
  - coi_model
- name: V2
  tags:
  - Funding Rounds
  - Investors
  - Company Lookup
  - Company Details
  - Comps
