openapi: 3.2.0
info:
  version: 2.0.0
  title: Caplight REST Stock Splits API
  description: This page provides documentation for the Caplight API, a paid add-on product of Caplight Data.
  termsOfService: https://platform.caplight.com/terms
  contact:
    name: 'Contact: Caplight Engineering'
    email: engineering@caplight.com
  x-logo:
    url: https://storage.googleapis.com/caplight-prod.appspot.com/caplight-logos/api-logo.png
    altText: Caplight logo
servers:
- url: //us-central1-caplight-prod.cloudfunctions.net/api/public
  description: Production
- url: //us-central1-caplight-staging.cloudfunctions.net/api/public
  description: Staging/Sandbox
tags:
- name: Stock Splits
paths:
  /v1/stock-splits:
    get:
      tags:
      - Stock Splits
      summary: Get Stock Splits
      description: Returns all stock splits for all companies, ordered by most recently added/revised to the Caplight database
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StockSplits'
      operationId: getV1StockSplits
      x-operation-id-source: derived
components:
  schemas:
    StockSplits:
      type: object
      properties:
        stockSplits:
          type: array
          items:
            $ref: '#/components/schemas/StockSplit'
    Timestamp:
      type: string
      description: ISO formatted datetime
      example: '2023-01-26T05:56:30 +00:00'
    StockSplit:
      type: object
      properties:
        companyMeta:
          $ref: '#/components/schemas/CompanyMeta'
        postSplitShares:
          type: number
          description: Post-stock split share count. A post-split value of 10 and pre-split value of 1 implies a 10-to-1 stock split.
          example: 10
        preSplitShares:
          type: number
          description: Pre-stock split share count. A post-split value of 10 and pre-split value of 1 implies a 10-to-1 stock split.
          example: 1
        stockSplitDate:
          description: Caplight's best estimate of the date at which the stock split occurred
          $ref: '#/components/schemas/Timestamp'
        createdAt:
          description: Date when Caplight first captured the stock split information
          $ref: '#/components/schemas/Timestamp'
    CompanyMeta:
      type: object
      properties:
        name:
          type: string
          description: Company name
          example: Stripe
        domain:
          type: string
          description: Company top-level web domain
          example: stripe.com
        caplightId:
          type: string
          description: Caplight Company ID
          example: 12d3140kjf90
        pitchbookId:
          type: string
          description: Pitchbook Company ID
          example: 54782-29
  securitySchemes:
    api_key:
      description: Caplight API authentication is managed through an api_key header value. Please contact us if you do not yet have an API key.
      type: apiKey
      name: api_key
      in: header
x-tagGroups:
- name: V1
  tags:
  - Company
  - Companies
  - MarketPrice
  - Live Orderbook
  - Trade History
  - Order History
  - Company Filings
  - Stock Splits
  - Fund Marks
  - News
  - company_model
  - order_model
  - market_price_model
  - trade_model
  - 409a_valuation_model
  - fund_mark_model
  - comp_model
  - stock_split_model
  - coi_model
- name: V2
  tags:
  - Funding Rounds
  - Investors
  - Company Lookup
  - Company Details
  - Comps
