openapi: 3.2.0
info:
  version: 2.0.0
  title: Caplight REST Trade History API
  description: This page provides documentation for the Caplight API, a paid add-on product of Caplight Data.
  termsOfService: https://platform.caplight.com/terms
  contact:
    name: 'Contact: Caplight Engineering'
    email: engineering@caplight.com
  x-logo:
    url: https://storage.googleapis.com/caplight-prod.appspot.com/caplight-logos/api-logo.png
    altText: Caplight logo
servers:
- url: //us-central1-caplight-prod.cloudfunctions.net/api/public
  description: Production
- url: //us-central1-caplight-staging.cloudfunctions.net/api/public
  description: Staging/Sandbox
tags:
- name: Trade History
paths:
  /v1/trade-history:
    get:
      tags:
      - Trade History
      summary: Company trade history
      description: Returns full trade history for a company, paginated. Either caplightId or pitchbookId must be provided.
      parameters:
      - name: caplightId
        in: query
        description: Company Caplight Id
        required: false
        deprecated: false
        schema:
          type: string
        example: 134591n9dfk519kl
      - name: pitchbookId
        in: query
        description: Company Pitchbook Id
        required: false
        deprecated: false
        schema:
          type: string
        example: 54782-29
      - name: pageNumber
        in: query
        description: Page number (1-based). First page is 1.
        required: false
        deprecated: false
        schema:
          type: number
        example: 2
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TradeHistory'
      operationId: getV1TradeHistory
      x-operation-id-source: derived
components:
  schemas:
    TradeHistory:
      type: object
      properties:
        companyMeta:
          $ref: '#/components/schemas/CompanyMeta'
        tradeHistory:
          type: array
          items:
            $ref: '#/components/schemas/Trade'
        pagination:
          $ref: '#/components/schemas/Pagination'
    TradeExVolume:
      type: object
      properties:
        id:
          type: string
          description: Unique record ID
          example: okP88RZSS9e1owCq73iD
        price:
          type: number
          format: double
          description: Trade share price USD (does not include split adjustments to today, i.e. reflective of the share count at the time)
          example: 15.9
        valuation:
          type: number
          format: double
          description: Implied valuation USD
          example: 5000000000
        structure:
          type: string
          enum:
          - unknown
          - direct
          - spv
          - forward
          - call_option
          - put_option
          - swap
          - exchange_fund
          - variable_prepaid_forward
          example: spv
        hasCarry:
          type: boolean
          description: Whether a trade was for an SPV-structure with carried interest
          example: true
        shareClass:
          type: string
          enum:
          - common
          - preferred
          - unknown
          description: Share class of the transaction (may be undefined)
          example: preferred
        shareClassSeries:
          type: string
          description: Share class series of the transaction. May be undefined
          example: Series B Preferred
        date:
          $ref: '#/components/schemas/Date'
        lastUpdatedAt:
          description: Database timestamp when the trade/order data point was created or last updated in the database.
          $ref: '#/components/schemas/Timestamp'
    CompanyMeta:
      type: object
      properties:
        name:
          type: string
          description: Company name
          example: Stripe
        domain:
          type: string
          description: Company top-level web domain
          example: stripe.com
        caplightId:
          type: string
          description: Caplight Company ID
          example: 12d3140kjf90
        pitchbookId:
          type: string
          description: Pitchbook Company ID
          example: 54782-29
    Pagination:
      type: object
      properties:
        pageNumber:
          type: integer
          description: Page number (1-based). First page is 1.
          example: 1
        numPages:
          type: integer
          description: Total number of pages for the result set
          example: 10
        totalRecords:
          type: integer
          description: Total number of records for the result set
          example: 250
    Date:
      type: string
      description: ISO formatted date without time
      example: '2022-09-10'
    Timestamp:
      type: string
      description: ISO formatted datetime
      example: '2023-01-26T05:56:30 +00:00'
    Trade:
      allOf:
      - type: object
        properties:
          volume:
            type: number
            format: double
            description: Trade volume in USD
            example: 5000000
      - $ref: '#/components/schemas/TradeExVolume'
  securitySchemes:
    api_key:
      description: Caplight API authentication is managed through an api_key header value. Please contact us if you do not yet have an API key.
      type: apiKey
      name: api_key
      in: header
x-tagGroups:
- name: V1
  tags:
  - Company
  - Companies
  - MarketPrice
  - Live Orderbook
  - Trade History
  - Order History
  - Company Filings
  - Stock Splits
  - Fund Marks
  - News
  - company_model
  - order_model
  - market_price_model
  - trade_model
  - 409a_valuation_model
  - fund_mark_model
  - comp_model
  - stock_split_model
  - coi_model
- name: V2
  tags:
  - Funding Rounds
  - Investors
  - Company Lookup
  - Company Details
  - Comps
