openapi: 3.2.0
info:
  version: 2.0.0
  title: Caplight REST Company Details API
  description: This page provides documentation for the Caplight API, a paid add-on product of Caplight Data.
  termsOfService: https://platform.caplight.com/terms
  contact:
    name: 'Contact: Caplight Engineering'
    email: engineering@caplight.com
  x-logo:
    url: https://storage.googleapis.com/caplight-prod.appspot.com/caplight-logos/api-logo.png
    altText: Caplight logo
servers:
- url: //us-central1-caplight-prod.cloudfunctions.net/api/public
  description: Production
- url: //us-central1-caplight-staging.cloudfunctions.net/api/public
  description: Staging/Sandbox
tags:
- name: Company Details
  description: 'Canonical Company resource: identity (name, legal name, location), descriptions, and the latest LLM-generated firmographic tags (sectors / verticals / keywords with attribution).'
paths:
  /v2/companies/{companyId}:
    get:
      tags:
      - Company Details
      summary: Get company details
      description: 'Returns the canonical Company resource: identity (name, legal name, location), descriptions, and the latest LLM-generated firmographic tags (sectors / verticals / keywords with attribution). Empty tag arrays and `tags.generatedAt: null` when the company has never been tagged.'
      parameters:
      - name: companyId
        in: path
        description: 'Company identifier: v2 company ID, v1 company ID, PitchBook ID (e.g. 41339-53), or company domain (e.g. clickhouse.com). A domain can match more than one company, in which case the best match is used; call `GET /v2/companies` to see every candidate. Access control and the annual distinct-company limit apply the same way however the company is identified.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicCompanyDetails'
              example:
                id: b2c3d4e5-f6a7-8901-bcde-f12345678901
                name: Acme Inc
                domain: acme.com
                pitchbookId: 41339-53
                caplightIds:
                  v2Id: b2c3d4e5-f6a7-8901-bcde-f12345678901
                  v1Id: abc123xyz
                legalName: Acme Incorporated
                description: Acme builds developer tools for AI agents.
                shortDescription: Developer tools for AI.
                location:
                  country: United States
                  state: California
                  city: San Francisco
                tags:
                  sectors:
                  - name: Artificial Intelligence
                    confidence: 0.92
                    attribution: 0.7
                  - name: Developer Tools
                    confidence: 0.85
                    attribution: 0.3
                  verticals:
                  - name: ML Infrastructure
                    confidence: 0.81
                    attribution: 1
                  keywords:
                  - keyword: machine learning
                    attribution: 0.5
                  - keyword: agents
                    attribution: 0.3
                  - keyword: open source
                    attribution: 0.2
                  generatedAt: '2026-01-15T10:00:00.000Z'
        '401':
          description: Missing or invalid API key
        '403':
          description: Account does not have Companies V2 API access, or company is outside whitelist / over annual cap
        '404':
          description: Company not found
      operationId: getV2CompaniesByCompanyId
      x-operation-id-source: derived
components:
  schemas:
    PublicVerticalTag:
      type: object
      required:
      - name
      - confidence
      - attribution
      properties:
        name:
          type: string
        confidence:
          type: number
          minimum: 0
          maximum: 1
        attribution:
          type: number
          minimum: 0
          maximum: 1
    FirmographicsTags:
      type: object
      required:
      - sectors
      - verticals
      - keywords
      - generatedAt
      properties:
        sectors:
          type: array
          items:
            $ref: '#/components/schemas/PublicSectorTag'
        verticals:
          type: array
          items:
            $ref: '#/components/schemas/PublicVerticalTag'
        keywords:
          type: array
          items:
            $ref: '#/components/schemas/PublicKeywordTag'
        generatedAt:
          type: string
          format: date-time
          nullable: true
          description: ISO timestamp of the latest LLM tagging run; null if the company has never been tagged.
    PublicCompanyDetails:
      type: object
      required:
      - id
      - name
      - domain
      - pitchbookId
      - caplightIds
      - legalName
      - description
      - shortDescription
      - location
      - tags
      properties:
        id:
          type: string
          description: v2 company ID
        name:
          type: string
          description: Company name
        domain:
          type: string
          nullable: true
          description: Company website domain
        pitchbookId:
          type: string
          nullable: true
          description: Pitchbook company ID
        caplightIds:
          type: object
          required:
          - v2Id
          - v1Id
          properties:
            v2Id:
              type: string
            v1Id:
              type: string
              nullable: true
        legalName:
          type: string
          nullable: true
        description:
          type: string
          nullable: true
        shortDescription:
          type: string
          nullable: true
        location:
          $ref: '#/components/schemas/FirmographicsLocation'
        tags:
          $ref: '#/components/schemas/FirmographicsTags'
    FirmographicsLocation:
      type: object
      required:
      - country
      - state
      - city
      properties:
        country:
          type: string
          nullable: true
        state:
          type: string
          nullable: true
        city:
          type: string
          nullable: true
    PublicKeywordTag:
      type: object
      required:
      - keyword
      - attribution
      properties:
        keyword:
          type: string
          minLength: 1
        attribution:
          type: number
          minimum: 0
          maximum: 1
    PublicSectorTag:
      type: object
      required:
      - name
      - confidence
      - attribution
      properties:
        name:
          type: string
        confidence:
          type: number
          minimum: 0
          maximum: 1
        attribution:
          type: number
          minimum: 0
          maximum: 1
  securitySchemes:
    api_key:
      description: Caplight API authentication is managed through an api_key header value. Please contact us if you do not yet have an API key.
      type: apiKey
      name: api_key
      in: header
x-tagGroups:
- name: V1
  tags:
  - Company
  - Companies
  - MarketPrice
  - Live Orderbook
  - Trade History
  - Order History
  - Company Filings
  - Stock Splits
  - Fund Marks
  - News
  - company_model
  - order_model
  - market_price_model
  - trade_model
  - 409a_valuation_model
  - fund_mark_model
  - comp_model
  - stock_split_model
  - coi_model
- name: V2
  tags:
  - Funding Rounds
  - Investors
  - Company Lookup
  - Company Details
  - Comps
