openapi: 3.2.0
info:
  version: 2.0.0
  title: Caplight REST Company Filings API
  description: This page provides documentation for the Caplight API, a paid add-on product of Caplight Data.
  termsOfService: https://platform.caplight.com/terms
  contact:
    name: 'Contact: Caplight Engineering'
    email: engineering@caplight.com
  x-logo:
    url: https://storage.googleapis.com/caplight-prod.appspot.com/caplight-logos/api-logo.png
    altText: Caplight logo
servers:
- url: //us-central1-caplight-prod.cloudfunctions.net/api/public
  description: Production
- url: //us-central1-caplight-staging.cloudfunctions.net/api/public
  description: Staging/Sandbox
tags:
- name: Company Filings
  description: COI (Certificate of Incorporation) filings and related company documents
paths:
  /v1/filings/cois/all:
    get:
      tags:
      - Company Filings
      summary: All COI Filings
      description: Returns all COI filings in the Caplight database, ordered by most recently added/updated
      parameters:
      - name: pageNumber
        in: query
        description: Page number (1-based). First page is 1.
        required: false
        deprecated: false
        schema:
          type: number
        example: 1
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AllCOIsResponse'
      operationId: getV1FilingsCoisAll
      x-operation-id-source: derived
  /v1/filings/cois/get-download-urls:
    get:
      tags:
      - Company Filings
      summary: Get COI Download URLs
      description: Generates short-lived download URLs for a COI filing. Increments the account's monthly COI download count. Re-downloading a previously downloaded COI does not consume a download slot. This endpoint is only available upon request and may include additional pricing.
      parameters:
      - name: filingId
        in: query
        description: COI filing ID
        required: true
        schema:
          type: string
      - name: allowOverage
        in: query
        description: Pass "true" to accept overage charges when the monthly limit is reached (only applies to accounts with overage enabled)
        required: false
        schema:
          type: string
          enum:
          - 'true'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/COIDownloadLinks'
        '400':
          description: Limit reached or invalid request
        '404':
          description: COI filing not found
      operationId: getV1FilingsCoisGetDownloadUrls
      x-operation-id-source: derived
  /v1/filings/cois/download-stats:
    get:
      tags:
      - Company Filings
      summary: COI Download Stats
      description: Returns the authenticated account's COI download usage for the current calendar month (UTC).
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/COIDownloadStats'
      operationId: getV1FilingsCoisDownloadStats
      x-operation-id-source: derived
components:
  schemas:
    AllCOIsResponse:
      type: object
      properties:
        cois:
          type: array
          items:
            $ref: '#/components/schemas/COI'
        pagination:
          $ref: '#/components/schemas/Pagination'
    Pagination:
      type: object
      properties:
        pageNumber:
          type: integer
          description: Page number (1-based). First page is 1.
          example: 1
        numPages:
          type: integer
          description: Total number of pages for the result set
          example: 10
        totalRecords:
          type: integer
          description: Total number of records for the result set
          example: 250
    COI:
      type: object
      properties:
        id:
          type: string
          description: Unique COI ID
        company:
          $ref: '#/components/schemas/CompanyMeta'
        filingDate:
          $ref: '#/components/schemas/Date'
        fileMeta:
          type: object
          properties:
            pdfAvailable:
              type: boolean
              description: Whether the PDF version of the COI is available
            htmlAvailable:
              type: boolean
              description: Whether the HTML version of the COI is available
            numberOfPages:
              type: number
              description: Number of pages in the COI. May be null
        createdAt:
          $ref: '#/components/schemas/Timestamp'
        updatedAt:
          $ref: '#/components/schemas/Timestamp'
    Date:
      type: string
      description: ISO formatted date without time
      example: '2022-09-10'
    Timestamp:
      type: string
      description: ISO formatted datetime
      example: '2023-01-26T05:56:30 +00:00'
    COIDownloadStats:
      type: object
      properties:
        monthlyLimit:
          oneOf:
          - type: number
          - type: string
            enum:
            - unlimited
        netNewDownloads:
          type: number
        overageDownloads:
          type: number
        remainingDownloads:
          oneOf:
          - type: number
          - type: string
            enum:
            - unlimited
        totalDownloads:
          type: number
    CompanyMeta:
      type: object
      properties:
        name:
          type: string
          description: Company name
          example: Stripe
        domain:
          type: string
          description: Company top-level web domain
          example: stripe.com
        caplightId:
          type: string
          description: Caplight Company ID
          example: 12d3140kjf90
        pitchbookId:
          type: string
          description: Pitchbook Company ID
          example: 54782-29
    COIDownloadLinks:
      type: object
      properties:
        coiMeta:
          type: object
          properties:
            date:
              type: string
              nullable: true
        numberOfPages:
          type: number
          nullable: true
        pdfLink:
          type: string
          nullable: true
        htmlLink:
          type: string
          nullable: true
  securitySchemes:
    api_key:
      description: Caplight API authentication is managed through an api_key header value. Please contact us if you do not yet have an API key.
      type: apiKey
      name: api_key
      in: header
x-tagGroups:
- name: V1
  tags:
  - Company
  - Companies
  - MarketPrice
  - Live Orderbook
  - Trade History
  - Order History
  - Company Filings
  - Stock Splits
  - Fund Marks
  - News
  - company_model
  - order_model
  - market_price_model
  - trade_model
  - 409a_valuation_model
  - fund_mark_model
  - comp_model
  - stock_split_model
  - coi_model
- name: V2
  tags:
  - Funding Rounds
  - Investors
  - Company Lookup
  - Company Details
  - Comps
