openapi: 3.2.0
info:
  version: 2.0.0
  title: Caplight REST Live Orderbook API
  description: This page provides documentation for the Caplight API, a paid add-on product of Caplight Data.
  termsOfService: https://platform.caplight.com/terms
  contact:
    name: 'Contact: Caplight Engineering'
    email: engineering@caplight.com
  x-logo:
    url: https://storage.googleapis.com/caplight-prod.appspot.com/caplight-logos/api-logo.png
    altText: Caplight logo
servers:
- url: //us-central1-caplight-prod.cloudfunctions.net/api/public
  description: Production
- url: //us-central1-caplight-staging.cloudfunctions.net/api/public
  description: Staging/Sandbox
tags:
- name: Live Orderbook
paths:
  /v1/live-orderbook:
    get:
      tags:
      - Live Orderbook
      summary: All live orders
      description: Returns all live orders on the Caplight platform.
      parameters:
      - name: pageNumber
        in: query
        description: Page number (1-based). First page is 1.
        required: false
        deprecated: false
        schema:
          type: number
        example: 1
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveOrderbook'
      operationId: getV1LiveOrderbook
      x-operation-id-source: derived
components:
  schemas:
    OrderWithCompanyMeta:
      allOf:
      - type: object
        properties:
          companyMeta:
            $ref: '#/components/schemas/CompanyMeta'
      - $ref: '#/components/schemas/Order'
    Order:
      allOf:
      - type: object
        properties:
          id:
            type: string
            description: Unique record ID
            example: okP88RZSS9e1owCq73iD
          direction:
            type: string
            enum:
            - bid
            - offer
            description: The type of order (bid/offer)
            example: bid
          price:
            type: number
            format: double
            description: Share price USD (does not include split adjustments to today, i.e. reflective of the share count at the time)
            example: 15.9
          valuation:
            type: number
            format: double
            description: Implied valuation USD
            example: 5000000000
          volume:
            type: number
            format: double
            deprecated: true
            description: (Deprecated field - replaced with minVolume). Order volume in USD, minimum amount
            example: 1000000
          minVolume:
            type: number
            format: double
            description: Order volume in USD, minimum amount
            example: 1000000
          maxVolume:
            type: number
            format: double
            description: Order volume in USD, maximum amount
            example: 5000000
          minShares:
            type: number
            format: int
            description: Order share count, minimum amount
            example: 80000
          maxShares:
            type: number
            format: int
            description: Order share count, maximum amount
            example: 100000
          structure:
            type: string
            enum:
            - unknown
            - direct
            - spv
            - forward
            - call_option
            - put_option
            - swap
            - variable_prepaid_forward
            - exchange_fund
            example: spv
          isLive:
            type: boolean
            description: Whether an order is currently live
            example: true
          managementFee:
            type: number
            format: double
            description: SPV management fee (if exists). Percentage value expressed as a decimal
            example: 0.01
          carry:
            type: number
            format: double
            description: SPV carry (if exists). Percentage value expressed as a decimal
            example: 0.2
          shareClasses:
            type: array
            description: May be an empty array or null
            items:
              type: string
              enum:
              - common
              - preferred
              - unknown
            example:
            - common
          brokerClientRelationship:
            type: string
            enum:
            - direct
            - indirect
            description: Broker's relationship with the end-client (investor/shareholder) behind an order. "indirect" means the broker is working with a client through another broker.
            example: direct
          originationDate:
            description: Order origination date. This reflects the date the order was originally captured by a Caplight order contributor
            $ref: '#/components/schemas/Timestamp'
          date:
            description: Latest date of order creation / last update
            $ref: '#/components/schemas/Date'
          lastUpdatedAt:
            description: Database timestamp when the trade/order data point was created or last updated in the database.
            $ref: '#/components/schemas/Timestamp'
          dealHistory:
            type: array
            description: Deals this order is part of. Paid add-on — available only to accounts with the Deal History add-on enabled; in most cases this requires a subscription upgrade. Email contact@caplight.com to enable it. When enabled, an empty array means the order has no deals; when not enabled, the field is omitted.
            items:
              $ref: '#/components/schemas/OrderDeal'
    Pagination:
      type: object
      properties:
        pageNumber:
          type: integer
          description: Page number (1-based). First page is 1.
          example: 1
        numPages:
          type: integer
          description: Total number of pages for the result set
          example: 10
        totalRecords:
          type: integer
          description: Total number of records for the result set
          example: 250
    OrderDeal:
      type: object
      properties:
        id:
          type: string
          description: A stable, unique identifier for the deal.
          example: okP88RZSS9e1owCq73iD
        counterpartyOrderId:
          type: string
          nullable: true
          description: The id of the order on the other side of this deal. `null` when the other side is not represented by an order.
          example: aBc123dEf456
        currentStatus:
          type: string
          enum:
          - introductionRequested
          - introduced
          - potentialClosing
          - inClosing
          - closed
          - dead
          - blocked
          description: The deal's current status.
          example: introduced
        currentStatusUpdatedAt:
          description: When the current status was set.
          $ref: '#/components/schemas/Timestamp'
        statusHistory:
          type: array
          description: The deal's past status changes, oldest first.
          items:
            type: object
            properties:
              status:
                type: string
                enum:
                - introductionRequested
                - introduced
                - potentialClosing
                - inClosing
                - closed
                - dead
                - blocked
              at:
                $ref: '#/components/schemas/Timestamp'
    Date:
      type: string
      description: ISO formatted date without time
      example: '2022-09-10'
    Timestamp:
      type: string
      description: ISO formatted datetime
      example: '2023-01-26T05:56:30 +00:00'
    LiveOrderbook:
      type: object
      properties:
        liveOrderbook:
          type: array
          items:
            $ref: '#/components/schemas/OrderWithCompanyMeta'
        pagination:
          $ref: '#/components/schemas/Pagination'
    CompanyMeta:
      type: object
      properties:
        name:
          type: string
          description: Company name
          example: Stripe
        domain:
          type: string
          description: Company top-level web domain
          example: stripe.com
        caplightId:
          type: string
          description: Caplight Company ID
          example: 12d3140kjf90
        pitchbookId:
          type: string
          description: Pitchbook Company ID
          example: 54782-29
  securitySchemes:
    api_key:
      description: Caplight API authentication is managed through an api_key header value. Please contact us if you do not yet have an API key.
      type: apiKey
      name: api_key
      in: header
x-tagGroups:
- name: V1
  tags:
  - Company
  - Companies
  - MarketPrice
  - Live Orderbook
  - Trade History
  - Order History
  - Company Filings
  - Stock Splits
  - Fund Marks
  - News
  - company_model
  - order_model
  - market_price_model
  - trade_model
  - 409a_valuation_model
  - fund_mark_model
  - comp_model
  - stock_split_model
  - coi_model
- name: V2
  tags:
  - Funding Rounds
  - Investors
  - Company Lookup
  - Company Details
  - Comps
